@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Comfortaa', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p {
  @apply mb-2;
}

.content h2 {
  @apply text-2xl mt-3;
}
.content p {
  max-width: 768px;
}